[submodule "themes/beautifulhugo"]
	path = themes/beautifulhugo
	url = https://github.com/halogenica/beautifulhugo.git
[submodule "themes/spectral"]
	path = themes/spectral
	url = https://github.com/sbruder/spectral.git
